body {
    font-family: Arial, sans-serif;
    background-color: #1E2D3A;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2B3E50;
    border-radius: 8px;
}

h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #2F9BB6;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-button {
    background-color: #2F9BB6;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.add-button:hover {
    background-color: #247792;
}

.form-container {
    display: none;
    margin-bottom: 20px;
    background-color: #223646;
    padding: 20px;
    border-radius: 8px;
}

.form-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.form-container button {
    background-color: #2F9BB6;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #247792;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #394B59;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2F9BB6;
}

tr:nth-child(even) {
    background-color: #2B3E50;
}

tr:nth-child(odd) {
    background-color: #223646;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
}

.actions .edit {
    background-color: #2F9BB6;
}

.actions .remove {
    background-color: #C24E4E;
}

/* Estilos para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #2B3E50;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.modal button {
    background-color: #2F9BB6;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.modal button:hover {
    background-color: #247792;
}

/* Estilo para o container do bot達o de logout */
.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Estilo para o bot達o de logout */
.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 120px;
    height: 40px;
}

.logout-button:hover {
    background-color: #ff3333;
}


/* Estilo para o container do bot達o de return */
.return-container {
    position: absolute;
    top: 20px;
    left: 20px;
}


/* Estilo para o bot達o de return */
.return-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 120px;
    height: 40px;
}

.return-button:hover {
    background-color: #09e426;
}